<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Servletprogram</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>addcookielogin</display-name>
    <servlet-name>addcookielogin</servlet-name>
    <servlet-class>addcookielogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcookielogin</servlet-name>
    <url-pattern>/addcookielogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>getcookielogin</display-name>
    <servlet-name>getcookielogin</servlet-name>
    <servlet-class>getcookielogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getcookielogin</servlet-name>
    <url-pattern>/getcookielogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>product_data</display-name>
    <servlet-name>product_data</servlet-name>
    <servlet-class>product_data</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>product_data</servlet-name>
    <url-pattern>/product_data</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cookiedelete</display-name>
    <servlet-name>cookiedelete</servlet-name>
    <servlet-class>cookiedelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cookiedelete</servlet-name>
    <url-pattern>/cookiedelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>kkk</display-name>
    <servlet-name>kkk</servlet-name>
    <servlet-class>kkk</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>kkk</servlet-name>
    <url-pattern>/kkk</url-pattern>
  </servlet-mapping>
</web-app>